* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(45deg, #740dea, #e27ffa);
  width: 100vw;
  height: 100vh;
  background-image: url("./image/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 2em 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  width: 50vw;
}

.image, img {
  border-radius: 50%;
  width: 12em;
  height: 12em;
  text-align: center;
}

.span {
  color: #fff;
  padding: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.container_text {
  color: #fff;
  text-align: center;
}

.container_text, h1 {
  font-family: 'Roboto', sans-serif;
}

.container__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
}

.list-social {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2em;
}



.social-media, a {
  color: white;
  background-color: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 2px solid white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 1em;
  width: 25vw;
  text-align: center;
  cursor: pointer;
}
a {
  border: none;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  main {
    width: 100%;
  }

  .container {
    width: 100%;
  }
  .list-social {
    width: 100%;
    margin: 0 1em;
  }
  .container__list {
    width: 100%;
  }

  .social-media {
    width: 100%;
  }
}